.body {
  position: relative;

  padding-bottom: 0;
  width: 100%;
  min-height: 100%;

  background-color: #3C1E8B;
  background-repeat: no-repeat;
  background-image: radial-gradient(125% 125% at 50% 10%,#000 40%,#63e 100%);
  background-size: 100% 100vh;

  // FIXME: Boilerplate
  &.no-scroll {
    overflow: hidden;
  }
}
