.header {
  $this: &;

  position: relative;
  z-index: 10;

  &__sections {
    display: grid;

    align-items: center;
    gap: 24px;
    grid-template-columns:  1fr minmax(80px, $logo-max-width) 1fr;

    height: $header-height;

    @include media-query(sm) {
      grid-template-columns: minmax(170px, $logo-max-width) 1fr minmax(170px, $logo-max-width);
      height: $header-height-sm;
    }
  }

  &__section {
    display: flex;
    flex: 1 1 auto;
    align-items: center;

    max-width: 100%;

    &--middle {
      justify-content: center;
    }

    &--right {
      justify-content: flex-end;
    }
  }

  &__logo {
    @include font-heading();

    text-align: center;
    font-size: font-size-heading(20px);

    @include media-query(sm) {
      text-align: left;
    }
  }

  &__logo-link {
    display: block;
    color: get-color(on-background);
    text-decoration: none;

    &:hover {
      color: get-color(on-background);
    }
  }

  &__logo-image {
    display: block;
    object-fit: contain;
    object-position: center center;

    margin: 0 auto;
    padding-top: 8px;
    padding-bottom: 8px;

    width: 100%;
    max-width: $logo-max-width;
    max-height: $header-height;

    @include media-query(sm) {
      object-position: left center;
      margin: 0;
      max-height: $header-height-sm;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    &--right-nav {
      margin-right: -16px;
    }
  }

  &__list-item {
    position: relative;
    flex: 0 0 auto;

    &:hover {
      #{$this}__dropdown {
        display: block;
      }
    }
  }

  &__link {
    display: flex;

    position: relative;

    justify-content: center;
    align-items: center;

    padding: 12px;

    color: get-color(white);
    font-size: font-size(30px);
    font-weight: $font-weight-base-bold;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-shadow: 1px 0px 0px get-color(link-stroke), 0px 1px 0px get-color(link-stroke), -1px 0px 0px get-color(link-stroke), 0px -1px 0px get-color(link-stroke);
    -webkit-animation: text-flicker-in-glow 1s ease-in both;
    animation: text-flicker-in-glow 1s ease-in both;

    &--icon {
      display: flex;
      align-items: center;
      cursor: pointer;
      line-height: 14px;

      &.active {
        #{$this}__link-icon {
          transform: rotate(180deg);
          transition: transform 0.3s ease;
        }
      }
    }
  }

  @-webkit-keyframes text-flicker-in-glow {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 0;
      text-shadow: none;
    }
    10.1% {
      opacity: 1;
      text-shadow: none;
    }
    10.2% {
      opacity: 0;
      text-shadow: none;
    }
    20% {
      opacity: 0;
      text-shadow: none;
    }
    20.1% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
    }
    20.6% {
      opacity: 0;
      text-shadow: none;
    }
    30% {
      opacity: 0;
      text-shadow: none;
    }
    30.1% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    30.5% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    30.6% {
      opacity: 0;
      text-shadow: none;
    }
    45% {
      opacity: 0;
      text-shadow: none;
    }
    45.1% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    50% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    55% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    55.1% {
      opacity: 0;
      text-shadow: none;
    }
    57% {
      opacity: 0;
      text-shadow: none;
    }
    57.1% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
    }
    60% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
    }
    60.1% {
      opacity: 0;
      text-shadow: none;
    }
    65% {
      opacity: 0;
      text-shadow: none;
    }
    65.1% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    75% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    75.1% {
      opacity: 0;
      text-shadow: none;
    }
    77% {
      opacity: 0;
      text-shadow: none;
    }
    77.1% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    85% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    85.1% {
      opacity: 0;
      text-shadow: none;
    }
    86% {
      opacity: 0;
      text-shadow: none;
    }
    86.1% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    100% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
    }
  }

  @keyframes text-flicker-in-glow {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 0;
      text-shadow: none;
    }
    10.1% {
      opacity: 1;
      text-shadow: none;
    }
    10.2% {
      opacity: 0;
      text-shadow: none;
    }
    20% {
      opacity: 0;
      text-shadow: none;
    }
    20.1% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
    }
    20.6% {
      opacity: 0;
      text-shadow: none;
    }
    30% {
      opacity: 0;
      text-shadow: none;
    }
    30.1% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    30.5% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    30.6% {
      opacity: 0;
      text-shadow: none;
    }
    45% {
      opacity: 0;
      text-shadow: none;
    }
    45.1% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    50% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    55% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    55.1% {
      opacity: 0;
      text-shadow: none;
    }
    57% {
      opacity: 0;
      text-shadow: none;
    }
    57.1% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
    }
    60% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
    }
    60.1% {
      opacity: 0;
      text-shadow: none;
    }
    65% {
      opacity: 0;
      text-shadow: none;
    }
    65.1% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    75% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    75.1% {
      opacity: 0;
      text-shadow: none;
    }
    77% {
      opacity: 0;
      text-shadow: none;
    }
    77.1% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    85% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    85.1% {
      opacity: 0;
      text-shadow: none;
    }
    86% {
      opacity: 0;
      text-shadow: none;
    }
    86.1% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    100% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
    }
  }

  &__link-icon {
    margin-left: 8px;

    svg {
      width: 12px;
      height: 12px;
    }
  }

  &__icon {
    display: block;
    padding: 12px;
    color: get-color(header-link);

    &:hover {
      color: get-color(header-link-hover);
    }

    &--hamburger {
      padding-left: 0;
    }

    svg {
      width: 18px;
      height: 18px;
    }
  }

  &__dropdown {
    display: none;

    justify-content: center;

    position: absolute;
    z-index: 1;
    left: 12px;

    margin: 0;

    min-width: 120px;

    text-align: left;

    &--content {
      left: 7px;
      min-width: 70px;
      overflow: hidden;

      #{$this}__dropdown-inner {
        max-height: 200px;
        overflow: auto;

        &::-webkit-scrollbar {
          width: 4px;
          background-color: transparent;
        }

        &::-webkit-scrollbar-thumb {
          border-radius: var(--input-corner-radius);
          -webkit-box-shadow: inset 0 0 6px rgba(get-color(primary), 0.3);
          background-color: get-color(primary);
        }

        &::-webkit-scrollbar-track {
          -webkit-box-shadow: inset 0 0 6px rgba(get-color(primary), 0.3);
          border-radius: var(--input-corner-radius);
          background-color: transparent;
        }

        &::-webkit-scrollbar-thumb:window-inactive {
          background-color: transparent;
        }
      }
    }
  }

  &__dropdown-inner {
    display: grid;
    overflow: hidden;

    gap: 12px;

    border: 1px solid get-color(on-background);
    border-radius: $input-border-radius;
    padding: 11px 15px;

    background: get-color(background);
  }

  &__dropdown-link {
    color: get-color(header-link);
    white-space: nowrap;
    text-decoration: none;

    &:hover {
      color: get-color(header-link-hover);
    }
  }
}
