@font-face {
  font-family: 'Geist';
  src: url('../assets/Geist-Bold.woff') format('woff'),
    url('../assets/Geist-Bold.woff2') format('woff2'),
    url('../assets/Geist-Bold.otf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
