---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import navigations from '../data/navigation.json';
import '../styles/theme.scss';
---

<Layout title="Welcome to Astro.">
  <Header navItems={navigations} logo="test.png"/>
	<main>
	</main>
</Layout>
