---
interface NavItem {
	title: string;
	href: string;
}

interface Props {
  navItems: NavItem[];
  logo: string;
}

const { navItems, logo } = Astro.props as Props;
---

<header class="header">
  <div class="container wrapper">
    <div class="header__sections">
      <div class="header__section header__section--left visible@sm">
      </div>
      <div class="header__section header__section--middle">
        <nav class="header__nav">
          <ul class="header__list header__list--nav">
            {navItems.map((item) => (
              <li class="header__list-item">
                <a href={item.href} class="header__link">
                  {item.title}
                </a>
              </li>
            ))}
          </ul>
        </nav>
      </div>
      <div class="header__section header__section--right">
      </div>
    </div>
  </div>
</header>